body {
  margin: 0;
  font-family: "Muli", sans-serif;
  background-color: #8f57fd;
}
.header {
  background-color: #8f57fd;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}